body{
    background-color:white
}
p{
    color: rgb(78, 78, 77);
}
.foto{
width: 100px;

border: 2px solid #fffff;
border-radius: 50%;
/*
margin-top: 30px;
margin-bottom: 100px;
margin-left:100px; centralizar a margem*/
margin: 30px 30px 30px 30px; /* faz as alterações de toda borda da imagem*/

}